*{
    margin: 0%;
    padding: 0%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    background-color:white;
    border-bottom: 1px solid rgb(237, 230, 230); 
    height: 19vh;
    margin-right: 10px;
    margin-left: 10px;


}
.logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    width: 30%;
}
.logo .firstName{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    
    width: 72px;
    margin-right: 0%;
    position: relative;
}
.logo .secondName{
    font-size: 15px;
    color: crimson;
    
    
    position: relative;
    width: 85px;
    margin-left: 0%;
    
}
.headerWords{
    width: 40%;
    padding: 15px;
    margin-top: 50px;
    
    font-size: 15px;
    
}
.headerWords h3{
    text-align: center;
}
.headerLinks{
    padding: 10px;
    
    font-size: 15px;
    
    margin-right: 150px;
    width: 80%;
    margin-top: 10px;
    display: table;

}
li{
    list-style-type: none;
    cursor: pointer;
    color: black;

}
.headerLinks li{
    
    display: table-cell;
    justify-content: space-evenly;
    position: relative;
    
}
.footer{
    margin-top: 0px;
    border-top: 1px solid rgb(237, 230, 230);
    background-color: white;
    margin-bottom: 0%;
    height: 150px;
    margin-left: 40px;
    margin-right: 40px;
}
.footerDetails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;

}
.footerDetails li{
    padding: 3px;
}
.otherDetails{
    padding: 10px;
    margin-top: 5px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 80px;
    margin-right: 30px;
}
.main{
    height: 100vh;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.userLocation{
    margin-top: 10px;
    width: 100%;

}
.landingChoice{
 
    margin-top: 30px;
    margin-bottom: 20px;
  
}
.additional{
   
    margin-top: 20px;
    border-top:1px solid rgb(237, 230, 230); ;
    text-align: center;
    
}
.additional h2{
    margin-top: 30px;
}
.additionalInfo{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


